// COLOR VARIABLES

$color-purple-primary: #7971ea;
$color-purple-dark: #493ed0;
$color-blue-primary: #1a2c5b;
$color-blue-secondary: #3e4e88;
$color-white: rgb(255, 255, 255);
$color-white-dark: #f1f6f9;
$color-button-secondary: #00dbc4;
$color-button-secondary-dark: #00a08f;
$color-blue-third: #4f86c6;
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-medium: 50em; //800px
$bp-small: 37.5em; // 600px;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5 -> 1rem = 10px
  @media only screen and (max-width: $bp-largest) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
