// COLOR VARIABLES

$color-purple-primary: #686de0;
$color-blue-primary: #14274e;
$color-blue-secondary: #394867;
$color-white: #f1f6f9;
// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10px / 16px = 62.5 -> 1rem = 10px
}

body {
  font-family: $font-primary;
  //color: #f4f2f2;
  font-weight: 300;
  line-height: 1.6;
  background-color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 1fr) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}
