.footer {
  background-color: $color-blue-primary;
  grid-column: full-start / full-end;
  padding: 8rem;

  display: flex;
  //justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.nav {
  display: flex;
  gap: 3rem;
  list-style: none;

  &__link:link,
  &__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: $font-display;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    display: block;
    transition: all 0.2s;
  }

  &__link:hover,
  &__link:active {
    background-color: $color-blue-secondary;
    transform: translateY(-3px);
  }
}

.copyright {
  font-size: 1.4rem;
  //color: $color-grey-light-2;
  margin-top: 3rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%;
  border-top: 1px solid $color-blue-secondary;
}
