.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-column: full-start / full-end;
  background: $color-blue-primary;

  &__nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    .btn__header {
      height: 100%;
      background-color: transparent;
      &:hover {
        background-color: #51618b;
      }
    }
  }

  &__hamburguerMenu {
    display: none;
  }

  @media only screen and (max-width: $bp-medium) {
    &__hamburguerMenu {
      display: block;
      cursor: pointer;
      width: 5rem;
      color: $color-purple-primary;
    }

    &__nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 50vh;
      position: absolute;
      opacity: 1;
      transition: all 0.5s ease;
      top: 7.4rem;
      left: -100%;
      @media only screen and (max-width: $bp-small) {
        top: 4.5rem;
      }
      &--active {
        background: $color-blue-primary;
        left: 0;
        z-index: 1;
      }

      &--exited {
      }
    }
  }
  @media only screen and (max-width: $bp-small) {
    &-logo {
      width: 12rem;
    }
  }
}
