.scrollTop {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  height: 6.5rem;
  color: #00a08f;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
