.slogan {
  grid-column: full-start / full-end;
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
  }
  padding: 0 5rem;
  margin: 5rem 0 0;
  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &-btn {
    background-color: $color-purple-primary;
    border-radius: 1.5rem;
    margin-top: 2rem;
    transition: all 0.2s;
    &:hover {
      background-color: $color-purple-dark;
    }
  }
  &__photo {
    &--2 {
      height: 45rem;
      max-width: 100%;
    }
  }
  .heading-2 {
    color: $color-blue-secondary;
  }

  .heading-1 {
    color: $color-blue-primary;
  }

  .heading-1,
  .heading-2 {
    text-align: center;
  }
}
