%heading {
  font-family: $font-display;
  font-weight: bold;
}

.heading-1 {
  @extend %heading;
  font-size: 5rem;
  line-height: 1;
}

.heading-2 {
  @extend %heading;
  font-size: 4rem;
  line-height: 1;
}

.heading-3 {
  @extend %heading;
  font-size: 2.5rem;
  line-height: 1;
}

.heading-4 {
  @extend %heading;
  font-size: 2rem;
  line-height: 1;
}

.btn {
  outline: none;
  font-family: $font-display;
  color: $color-white;
  border: none;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  cursor: pointer;
}

.primary--btn {
  background-color: $color-purple-primary;
  border-radius: 1.5rem;
  transition: all 0.2s;
  &:hover {
    background-color: $color-purple-dark;
  }
}
